table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f9f9f9;
  }
  button:focus {
    outline: none;
  }
  